////////////////////
// CONFIGS
////////////////////
$baseUnit: 16px;
$borderRadius: 2px;
$black: #140A33;
$blue: #3A00E8;
$border: rgba(0,0,0,.15);
$fontBody: Inconsolata;
$fontHeadings: Poppins;


////////////////////
// TYPE
////////////////////
body {
  color: $black;
  font-size: $baseUnit;
  font-family: $fontBody;
  line-height: 1.6em;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: $fontHeadings;
  font-weight: bold;
  line-height: 1.25;
}

a {
  color: $blue;
  text-decoration: underline;
}
